.card{
    border: 2px solid rgb(160, 72, 219);
    width: 15vw;
    height: 60vh;
    flex-wrap: wrap;
    background-color: beige;
    margin: 25px;
    border-radius: 10px;
    text-align: center;
}