*{
    margin: 0;
    padding: 0;
}

.box1{
    /* position: relative; it is used for changing top bottom left right */
    position: absolute;
    /* it moves relative to html page */
    /* it will work as its parent relative */
    top: 10px;
    left: 80px;
    background-color: aqua;
    /* z-index: 2px; */
}

.box2{
    /* position: relative; */
    /* top: 4px;
    left: 20px; */ 
    background-color: rgb(192, 113, 39);    
}

.box3{
    background-color: rgb(178, 216, 73);
}

.box4{
    background-color: purple;
}

.box{
    height: 133px;
    width: 80vw;
    padding: 3px;
    margin: 3px;
    border: 2px solid black;
}
.parent{
    padding: 10px;
    margin: 10px;
    border: 3px solid blue;
    /* transform filter, or persprective properties can also make an element apear as positioned */
    filter: invert(); 
    /* it inverts the colors but box will position accordin to parent */
}


.box5{
    /* position: relative; it is used for changing top bottom left right */
    position: absolute;
    /* it moves relative to html page */
    top: 40px;
    left: 40px;
    background-color: aqua;
}

.box6{
    /* position: relative;
    /* top: px;
    left: 20px; */ 
    background-color: rgb(1, 124, 1);    
}

.box7{
    background-color: rgb(178, 216, 73);
}

.box8{
    background-color: purple;
}

.b1{
    height: 133px;
    width: 80vw;
    padding: 3px;
    margin: 3px;
    border: 2px solid black;
}
.parent2{
    position: absolute;
    top: 550px;
    padding: 30px;
    margin: 10px;
    border: 3px solid blue;
}

/* absolute finds its nearest parent */


.three{
    line-height: 1200px;
    text-align: center;
}
.box9{
    /* position: relative; it is used for changing top bottom left right */
    /* position: absolute; */
    /* it moves relative to html page */
    /* top: 40px;
    left: 40px; */
    background-color: aqua;
    position: sticky;
    top: 0px;
}

.box10{
    /* position: relative;
    /* top: px;
    left: 20px; */ 
    background-color: green;    
}

.box11{
    background-color: rgb(199, 95, 26);
    position: fixed;
    /* this box is fixed now on the screen */
    bottom: 10px;
    left: 30vw;
}
.box12{
    background-color: purple;
}

.b2{
    height: 400px;
    width: 80vw;
    padding: 3px;
    margin: 3px;
    border: 2px solid black;
}
.parent3{
    /* position: absolute; */
    padding: 10px;
    margin: 10px;
    border: 3px solid blue;
}