.img1{
    height: 50vh;
    filter: blur(5px);
    /* image will be blurred */
    /* check mdf ref */
}

.img2{
    filter: brightness(2) contrast(1.5);
}

.img3{
    filter: grayscale(70%);
    /* more value more black & white */

    filter: opacity(60%);

}