.card{
  display: flex;
  border: 2px solid black;
  width: 910px;
  justify-content: center;
  align-items: center;
}
.image{
  position: relative;
}

.image img{
  width: 200px;
}

.text h1{
  padding: 2px 0;
}  

.image .capsule{
  position: absolute;
    z-index: 1;
    bottom: 5px;
    right: 5px;
    background-color: grey;
    opacity: 0.8;
    color: white;
    padding: 3px;
    border-radius: 3px;
    font-size: 14px;
}