#one ul li {
  list-style-type: none;
  /* for hiding list markers */
}

#two ul li {
  list-style: bengali;
}

#three ul li {
  background-color: yellow;
  border: 2px solid black;
}

/* first method (optimal) */
#four ul li {
  background-color: yellow;
  list-style-position: inside;
  border: 2.5px solid black;
}

/* 2nd method */
#five ul {
  background-color: yellow;
  border: 1px solid black;
}

/* 3rd method */
#six {
  background-color: yellow;
  border: 2px solid black;
}

#seven ul li {
  list-style-type: "😎";
  list-style-position: inside;
  background-color: yellow;
  border: 1px solid black;
  /* list-style-image: url(https://plus.unsplash.com/premium_photo-1710679068192-3b2364b13bbe?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
}

#eight ul li {
  border: 1px solid black;
  list-style: disc inside
    url(https://cdn-icons-png.flaticon.com/128/13533/13533506.png);
  /* either u can use disc or url for image */
}

#nine ul {
  list-style-type: none;
  display: flex;
  /* used flex in ul for vertical */
}

#nine ul li {
  padding: 10px;
  /* added padding in li for vertical spacing */
}
