@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap");
.lorem1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 600;
  text-decoration: underline;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40px;
}

div {
  font-family: "Baloo Bhai 2", sans-serif;
  font-size: 20px;
  line-height: 20px; /* paragraph spacing */
  letter-spacing: 2px; /* letter spaces */
}
h2 {
  text-align: center;
  text-transform: capitalize; /* first letter capital */
  text-decoration: underline;
  text-decoration-color: rgb(50, 80, 179);
  text-decoration-style: solid;  /* dotted underline */
  text-decoration-thickness: 4px; /* underline thickness */
  text-indent: 40px; /* text will move right */
}

.lorem2 {
  font-size: 20px;
  border: 2px solid red;
  width: 200px;
  text-overflow: clip;
  /* text will be hidden under box */
  overflow: hidden;
  /* overflow text hidden */
}
.lorem3 {
  font-size: 20px;
  border: 2px solid red;
  width: 140px;
  word-break: break-all;
  /* breaks the words */
}
