.box{
    height: 121px;
    width: 121px;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 70px;
}

.container{
    position: relative;
    height: 80vh;
    width: 80vw;
    background-color: blue;
}
