*{
    margin: 0;
    padding: 0;
}

.container1{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo img{
    width: 60px;
}

span{
    font-size: 22px;
}

.grid{
    
}