*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ebebeb;
}

.container1{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo img{
    width: 60px;
}

span{
    font-size: 22px;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 25px;
    row-gap: 20px;

}

.item{
    background-color: #f9f9f9;
    width: 382px;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
}