.box {
    width: 10vw;
    height: 20vh;
    border: 2px solid black;
}

.box1 {
    width: 30vw;
    height: 20vh;
    border: 2px solid black;
    overflow: scroll;
}

.box2 {
    width: 30vw;
    height: 20vh;
    border: 2px solid black;
    overflow: auto;
}

.box3 {
    width: 30vw;
    height: 10vh;
    border: 2px solid black;
    overflow: auto;
    white-space: nowrap;
}

.box4 {
    width: 30vw;
    height: 10vh;
    border: 2px solid black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.box5 {
    width: 30vw;
    height: 20vh;
    border: 2px solid black;
    overflow-x: hidden;
    overflow-y: scroll;

}

.box6 {
    width: 30vw;
    height: 20vh;
    border: 2px solid black;
    overflow: hidden auto;
    /* first one is x-axis and 2nd one is y-asix */

}